#about {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 50px;
    padding-bottom: 50px;
}

.about {
    display: flex;
    justify-content: space-between;
}

.left {
    max-width: 50%;
}

.right img {
    width: 300px;
}

.about .top {
    position: relative;
    left: 50px;
    top: 50px;
}