/* ////////////////////////////////////////
//      Hero
////////////////////////////////////////// */
#hero {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--primary-color1);
    max-height: 400px;
    margin-bottom: 120px;
    color: var(--color-white);
}

.hero {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.hero article {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.hero-left {
    width: 500px;
}

.hero article h1 {
    color: var(--primary-color2);
}

.hero button {
    margin-top: 10px;
    width: 200px;
    height: 60px;
    border-radius: 5px;
    background-color: var(--primary-color2);
}

.hero button:hover {
    cursor: pointer;
}

.hero-right {
    width: 300px;
}

.hero-image {
    position: relative;
    top: 50px;
    border-radius: 16px;
}



/* @media (max-width: 700px) {
    .grid-adjustable-columns {
        display: grid;
        grid-auto-flow: row;
    }
}

@media (min-width: 701px) {
    .grid-adjustable-columns {
        width: min(1000px, 75rem);
        margin: 0 auto;
        grid-auto-flow: column;
        gap: 1em;
    }
} */