.hero {
    /* margin: 0 70px; */

    min-height: 300px;
    display: flex;
    justify-content: space-around;
    background-color: #495E57;
    color: aliceblue;
}

.hero article {
    margin-left: 100px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    /* align-items: center; */
    margin-right: 70px;
    width: 300px;
    /* height: 200px; */
}

.hero article h1 {
    color: #F4CE14;
}

.hero article h2 {
    margin-top: 0;
}

.hero button {
    /* margin-top: 10px; */
    width: 200px;
    height: 60px;
    border-radius: 5px;
    background-color: #F4CE14;
}

.hero img {
    margin-top: 10px;
    margin-right: 200px;
    width: 250px;
    height: 250px;
    border-radius: 16px;
}



/* @media (max-width: 700px) {
    .grid-adjustable-columns {
        display: grid;
        grid-auto-flow: row;
    }
}

@media (min-width: 701px) {
    .grid-adjustable-columns {
        width: min(1000px, 75rem);
        margin: 0 auto;
        grid-auto-flow: column;
        gap: 1em;
    }
} */