.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 65px;
}

header .logo {
  width: 148px;
  height: 40px;
}


header li {
  font-size: 18px;
  font-weight: 700;
}

header a {
  cursor: pointer;
  text-decoration: none;
  color: #333333;
}

header a:hover {
  color: #495E57;
}


/* Navigation */
nav {
  margin: 0 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;

}

nav ul {
  width: 500px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* Footer  */

footer {
  /* margin: 0 70px; */
  display: flex;
  justify-content: space-between;
  /* align-items: center; */
  background-color: #495E57;
}

footer ul {
  /* width: 500px; */
  /* display: flex; */
  /* flex-direction: column; */
  /* justify-content: flex-start; */
  /* align-items: center; */
}


footer a {
  cursor: pointer;
  text-decoration: none;
  color: #F4CE14;
}

footer a:hover {
  color: #EDEDEE;
}